@import 'partials/colors';
@import 'partials/typography';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/reset';

.sr-only{
    height: 0;
    width: 0;
    overflow: hidden;
    display: block;
}

.container{
    padding:2rem 1rem;
    margin: auto;

    @include tablet{
        max-width: $d-tablet;
    }

    @include laptop{
        max-width: $d-desktop;
        padding:2rem 5rem;
    }
}

.download{
    text-align: center;
    $item-width:325px;

    &-title, &__item-title{
        color:$c-verydarkblue;
        font-weight: 500;
    }

    &-title{
        font-size: 1.5rem;
    }

    &-desc, &__item-desc{
        font-size: 0.9rem;
        color:$c-grayishblue;
    }

    &-desc{
        max-width: 500px;
        margin: auto;
    }

    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin-top:2rem;
    }

    &__item{
        margin-bottom: 1.5rem;
        padding:2rem 1rem;
        border-radius: 10px;
        background-color: $c-white;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        width: 100%;
        max-width: $item-width;

        &-img, &-desc{
            margin-bottom: 2rem;
        }

        &-img{
            width: 100px;
        }

        &-title{
            font-size: 1rem;
        }

        .footer{
            padding-top:1.5rem;
            background-image: url('../assets/icons/bg-dots.svg');
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;
        }

        &-button{
            width: 100%;
            text-transform: capitalize;
            font-weight: 500;
            background-color: $c-softblue;
            border:none;
            color:$c-white;
            padding:1rem 2rem;
            border-radius: 5px;
            font-weight: 500;
            border:2px solid transparent;
            cursor: pointer;
            &:hover{
                border-color:$c-softblue;
                background-color: $c-white;
                color:$c-softblue;
                box-shadow:0 5px 10px rgba($c-softblue,0.3);
            }
        }
    }

    @include tablet{
        &__item{
            margin-right: 1.5rem;
        }
    }

    @include laptop{
      
      &-title{
        font-size: 2rem;
      }
      &-desc, &__item-desc{
        font-size: 1rem;
      }

      &__item{
          flex:1;
          &:nth-child(2){
              transform:translateY(50px);
          }

          &:nth-child(3){
              transform:translateY(100px);
          }

          &-title{
              font-size: 1.3rem;
          }
      }
    }
}
/*
* FEATURES
*/
.features{
    text-align: center;
    
    &-title, &__tabpanel-title{
        font-weight: 500;
        color:$c-verydarkblue;
        font-size: 1.5rem;
    }

    &-desc, &__tabpanel-desc{
        color: $c-grayishblue;
        font-size: 0.9rem;
    }

    &-desc, &__tabs{
        max-width: 600px;
        margin:auto;
    }

    &__tabs{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    &__tab{
        padding:1rem;
        border:none;
        background:none;
        font-size: 1rem;
        border-top:1px solid $c-athensgray;
        cursor: pointer;

        &:last-child{
            border-bottom:1px solid $c-athensgray;
        }

        &[aria-selected="true"]{
            color: $c-verydarkblue;
            position: relative;

            &::after{
                content:'';
                display: block;
                width: 100px;
                height:5px;
                background-color: $c-sunglo;
                position: absolute;
                bottom:-2.5px;
                left:0;
                right:0;
                margin:auto;
            }
        }

        &[aria-selected="false"]{
            color: $c-grayishblue;
        }
    }

    &__tabpanel{
        position: relative;
        transition:outline 0.5s;

        &:focus{
          outline:3px solid yellow;
        }

        &::before{
            content:"";
            height:250px;
            width:80%;
            background-color: $c-softblue;
            display: block;
            position: absolute;
            border-radius:0 100px 100px 0;
            top:125px;
            z-index: -1;
        }
    }

    &__image{
        margin:3rem 0 5rem 0;
        
        &-img{
            height:300px;
            width: 100%;
            max-width: 400px;
            margin: auto;
            object-fit: contain;
        }
    }

    &-button{
        margin-top: 2rem;
        background-color: $c-softblue;
        border:none;
        color:$c-white;
        padding:1rem 2rem;
        border-radius: 5px;
        font-weight: 500;
        border:2px solid transparent;
        cursor: pointer;
        &:hover{
            border-color:$c-softblue;
            background-color: $c-white;
            color:$c-softblue;
            box-shadow:0 5px 10px rgba($c-softblue,0.3);
        }
    }

    @include tablet{
        .container{
            padding-left:0;
            padding-right:0;
        }

        &-title, &__tabpanel-title{
            font-size: 2rem;
        }
    
        &-desc, &__tabpanel-desc{
            font-size: 1rem;
        }

        &__tabs{
            flex-direction: row;
        }

        &__tab{
            border-top: none;
            border-bottom:1px solid $c-athensgray;
            flex: 1;

            &[aria-selected="true"]{
                &::after{
                    width: 100%;
                }
            }
        }

        &__tabpanel{
            text-align: left;
            &::before{
                width: 400px;
            }

            .container{
                display: flex;
                align-items: center;
            }
        }

        &__col{
            flex:1;
            &:nth-child(2){
                padding:0 2rem;
            }
        }
    }

    @include laptop{
        &__tabpanel{
            position: relative;
            &::before{
                height:325px;
                border-radius:0 200px 200px 0;
            }
        }
        &__image{
            &-img{
                height:auto;
                max-width: 600px;
                margin-left:-100px;
            }
        }
    }
}
footer{
    background-color: $c-verydarkblue;
    text-align: center;
    text-transform: uppercase;
    color:$c-white;

    .logo path{
        fill:$c-white;
    }

    a{
      color:inherit;
      text-decoration: none;  
    }

    .footer{
      &__item{
        margin-top:2rem;
        font-size: 0.9rem;
        &:hover{
            color:$c-grayishblue;
        }
      }

      &__socials{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top:3rem;
      }

      &__social{
          margin:0 1rem;
          &:hover path{
              fill:$c-softred;
          }
      }
    }

    @include tablet{
        .container, .footer__items{
            display: flex;
            align-items: center;
        }

        .footer{
          &__item{
            margin:0 0 0 2rem;
          }

          &__socials{
              margin:0 0 0 auto;
          }
        }
    }
}
.header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color:$c-white;
  padding: 0 1rem;
z-index: 1;
}
  
.logo-change--color{
     filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg)
      brightness(228%) contrast(100%);
    @include laptop{
      filter: none;
     }
  }
  
.color-change{
    background-color: $c-verydarkblue;
  

    @include laptop{
      background-color: $c-white;
      border-bottom: none;
    }
  }
  
 /*
  * Show/ hide hamburger and close icons
  * Hide icons when >= tablet size
  */
.navbar{
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include laptop{
    width: 1000px;
  }
}
.navbar-toggle{
    background-color: transparent;
    border: none;
  }
  .navbar-toggle__img {
    display: none;
  }
  .navbar-show .navbar-toggle__bars {
    display: block;

    @include laptop {
      display: none;
    }
  }
  .navbar-toggle:not(.navbar-show) .navbar-toggle__cross{
    display: block;
  }
.navbar-toggle__bars {
    background-color: $c-white;

    @include laptop{
      display: none;
    }
  }
.dropdown {
  display: none;
  opacity: .977;
  background-color: $c-verydarkblue;
  @include tablet{
    height: 690px;
  }
    @include laptop {
    width: 500px;
    display: block;
    margin: 0;
    height: fit-content;
    background-color: $c-white;
  }

    
  &__list {
    width: 100%;
    font-size:18px ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    list-style: none;
    
    @include laptop{
      flex-direction:row;
      justify-content: space-evenly;
      width: 100%;
    }
  }
  &__list-link {
    color: $c-white;
    text-decoration: none;
    @include laptop{
      color: $c-verydarkblue;
    }
  }
  &__list-link:hover {
    color: $c-softred;
    @include laptop {
      display: inline-flex;
    }
  }

  &__list-item {
    width: 90%;
    text-align: center;
    list-style: none;
    font-weight: 400;
    padding: 1rem 0; 
  }
  &__list-item:not(:last-child){
    border-bottom: .00005px solid rgba(243, 241, 241, 0.2); 

    text-transform: uppercase;
      
  }
  &__list-item--top{
    border-top: .00005px solid rgba(243, 241, 241, 0.2); 

    @include laptop {
      // width: 100px;
    }
  }

  &__list-item--login  a{
    display: block;
    letter-spacing: .02rem;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    margin-right:.25rem;
    background-color: $c-verydarkblue;
    color: $c-white;
    padding: 0.4rem;
    border-radius: 0.3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid $c-white;
    @include laptop{
      width: 120px;
      padding: .49rem;
      background-color: $c-softred;
      border: 2px solid $c-softred;
      color: $c-white;
      margin: 0;

    }
  &__list-item--login:hover{
    @include laptop{
      background-color: $c-white;
    }
  }
}
&__list-item--link{
text-decoration: none;
color:$c-verydarkblue ;
}
&__list-item--link:hover{
  background-color: $c-white;
  color: $c-softred;
  border: 2px solid $c-softred;
}
}
.change{
  //100vh = full screen height
  //90px =  header height
  height: calc( 100vh - 90px);
  padding: 0 1rem;
  border:  1px solid ;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-top: none;

  /*
  * Dropdown list absolute to .navbar
  */
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  animation: slidein 1s 1 ;

  @keyframes slidein {
    from {
      transform: translateY(100%);
    }
  
    to {
      transform: translateY(0%);
    }
  }
  @include tablet{
    width: 100%;
  }
  @include laptop {
    position: relative;
    top: 0;
    width: fit-content;
    margin: 0 0 0 auto;
    display: nz;
      }
    }
.hero-main{
      display: flex;
      position:relative;

      // blue shape
      &::before{
        content:'';
        width: 70%;
        height:80%;
        align-items: center;
        background-color: $c-softblue;
        border-radius:100px 0 0 100px;
        margin-left: auto;
        position:absolute;
        top:50px;
        right:0;
        z-index:-1;
      }
   
      @include laptop{
        border-radius:100px 0 0 100px; 
        margin-top: 4.8rem;
      }

      // Hero image
      &__img{
        width:100%;
        // to ensure it scales accordingly
        object-fit:contain;
        margin-right:auto;
        @include tablet{
          width: 430px;
        }
        
        @include laptop{
          width: 500px;
        }
      }
    }

.icons {
  align-items: flex-end;
  width:20px;
  display: flex;
  // Flex:1 takes up remaining height (if flex-direction:column)
  flex: 1;
  justify-content: center;
  padding: 4rem;
  gap: $margin + 1;
@include laptop{
  display: none;
}
&__img{
  height: 25px;
}
}
//--hero--section--//
.hero{
  padding-top: 8.9rem;
  @include laptop{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-start;
    align-items:center;
  }

  &-main, &__body{
    width:100%;
  }


  @include laptop{
    flex:1;
    &__body{
      padding-left:5rem;
    }
  }
&__tittle {
  max-width: 100%;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  margin:2rem auto;
  
  @include tablet{
    width: 500px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    
  }
  @include laptop{
    display: block;
    margin: 0;
    width: 300px;
    text-align: justify;
     margin-left: 1rem;

  }
}

&__text {
   max-width: 100%;
   display: block;
   text-align: center;
   color: $c-grayishblue;
  margin: 0 auto;

  @include tablet{
    margin-bottom: 2rem;

  }
  @include laptop{
     width: 432px ;
    text-align:start;
    margin: 1rem;
  }
}
&__btn-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: $margin*.6 ;
@include tablet{
  padding-top: 3rem;
}
@include laptop{
  padding-top: 0;
  margin-top: 0;
  display: block;
  margin: 1rem;
}
}

&__btn {
  font-size: 14px;
  width: 50%;
  margin-right:.25rem;
  background-color: $c-softblue;
  color: $c-white;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid $c-softblue;
  font-weight: 400;
  
  @include laptop{
    font-size: 12px;
    width: 9rem;
    color: $c-white;
    border: 1px solid $c-softblue;
    background-color: $c-softblue;
    padding: .9rem;
    border-radius: .25rem;
  }
}
&__btn--white {
  background-color: $c-off-white;
  color: $c-verydarkblue;
  border: 1px solid $c-off-white;
  
  @include laptop{
    border: 1px solid $c-off-white;
    background-color: $c-off-white;
    color: $c-verydarkblue;
  }
}
&__btn:hover{
  border: 1px solid $c-softblue;
  background-color: $c-white;
  color: $c-softblue;
}
&__btn--white:hover{
  border: 1px solid $c-verydarkblue;
  background-color: $c-white;
  color: $c-verydarkblue;
}
}

// --pop-up--//
.popup{
  background-color:transparent;
  width:300px;
  height: 350px;
  padding: 30px 30px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  display: none;
  z-index: 20;
  // animation: slidup 1s 1 ;

  // @keyframes slidup {
  //   from {
  //     transform: translateY(-100%);
    
  //   }
  
  //   to {
  //     transform: translateY(-100%);
  //     transform: translateX(-50%);
    
  //   }
  // }

  @include tablet{
    width: 350px;
    // top:53%;
    // left: 54%;
    }
  @include laptop{
    width: 550px;
    // top: 45%;
    // left: 58%;
}
  
  &__img{
  display: flex;
  justify-content: center; 
}

  &__quote{
  position: absolute;
  background-color:$c-white;
  box-shadow: 0px 4px 4px rgba(148, 14, 14, 0.2);
  border-radius: 50%;
  display: block;
  margin:  auto;
  width: 50px;
  height: 50px;
}
}

.fas{
  position: relative;
  top: 30%;
  right: -30%;
  left: 30%;
  margin: 0 auto;
}
.fa-quote-left{
color:$c-verydarkblue;

}

.popup .popup-close{
  display: block;
  margin: 0 0 20px auto;
  border: none;
  background-color: transparent;
}
.quote-body{    
  padding: 3rem;
  background-color: $c-white;
  color:$c-softred;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(148, 14, 14, 0.2);

}
.popup .quote-body__text{
  text-align: justify;
  margin: 20px 0;
  line-height: -3.2;
}
.popup-add{
  display: block;
}
.overlay{ 
  position: fixed;
  // opacity: 0;
  top:0%;
  left:0;
  right:0;
  bottom:0;
  background-color:$c-verydarkblue;
  opacity: .77;
  pointer-events: none;
  z-index: 1;
  height: 100%;
  pointer-events:all;


}
.overlay.active{
  opacity: 0;
  pointer-events:none;

}

.hide-scroll{
  overflow:hidden;
  height: 100%;
}
// .stop-scrolling {
//   height: 100%;
//   overflow: hidden;
//   position: fixed;
// }
/* FAQs section */

.faq-header {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 100px;
  font-weight: 500;
}

.faq-p {
  max-width: 600px;
  margin-bottom: 4rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  color: #9194a1;
  
}

details {
  max-width: 600px;
  margin: auto;
  border-top: 1px solid rgba(145, 148, 161, 0.5);
}

.summary {
  width: 90%;
  margin: auto;
}

summary {
  position: relative;
}

summary:hover {
  color: #fa5757;
}

details > summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  list-style: none;
  padding: 1.6rem;
}

details > summary::after {
  content: url(/assets/icons/icon-arrow.svg);
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  position: absolute;
  right: 0;
}

details[open] > summary::after {
  content: url(/assets/icons/icon-arrow-red.svg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

svg:hover {
  fill: red;
}

details > div > p {
  color: #9194a1;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.faq-btn {
  color: white;
  background-color: #5368df;
  padding: 14px;
  border-radius: 6px;
  border:none;
}

.faq-btn:hover {
  color: #5368df;
  background-color: white;
  border: 1px solid #5368df;
  cursor: pointer;
}

.contact {
  background-color: #5368df;
  padding: 4rem;
}

.contact-header {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.contact-p {
  text-align: center;
  letter-spacing: 6px;
  color: white;
  margin-bottom: 3rem;
}

.check-btn {
  color: white;
  background-color: #fa5757;
  padding: 14px;
  border-radius: 6px;
  margin-left: 1.5rem;
  border: none;
}

.check-btn:hover {
  color: #fa5757;
  background-color: white;
  border: 1px solid #fa5757;
  cursor: pointer;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 500px;
}

@media screen and (max-width:30em){
 #form{
  display:block !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
 }

 .form-input{
  width: 100%;
  margin: auto;
 }
.check-btn{
width: 100%;
margin: auto;
margin-top:1rem;

}


}

#email {
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 1;
  width: 100%;
  border: none;
}

#email:focus-visible {
  border: 5px solid #fa5757;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

#text {
  padding: 8px;
  color: white;
  display: none;
  border-radius: 0 0 6px 6px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fa5757;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.error::after {
  background-image: url(/assets/icons/icon-error.svg);
  content: "";
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
}

.error #text {
  display: block;
}
/*# sourceMappingURL=styles.css.map */




/**********************
* PARTICLES-JS
************************/
#particles-js{
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: 1;
	pointer-events: none;
	animation:fadeInOut 2s 1s 1 forwards ease-out;
}

/*
* Scale up then fade out
*/
@keyframes fadeInOut {
	0%{
		border-radius: 50%;
		transform:scale(0);
	}
	25%{
		transform:scale(1);
		border-radius: 0;
		opacity:1;
	}
	100%{
		opacity:0;
	}
}